<section class="faq section-wrap">
  <div class="faq__container container">
    <div class="faq__inner white">
      <p class="h1 center">Вопросы и ответы по препарату Лонгидаза®</p>
      <div class="faq__content">
        <div class="faq__accordion">
          <div class="faq__accordion-list">
            <div class="faq__item acc">
              <div class="acc__head">
                <p class="acc__title txt24 upper bold">
                  Почему применение суппозиториев препарата Лонгидаза® противопоказано детям до 12 лет?
                </p>
                <div class="acc__arr">
                  <img src="./assets/images/arrAcc.svg" alt="" />
                </div>
              </div>
              <div class="acc__info">
                <div class="acc__info-inner">
                  <p class="txt18">
                    Препарат Лонгидаза® оказывает потенциирующее действие, что означает усиление эффекта, на биологически активные
                    вещества. В связи с чем лучше воздержаться от приема алкоголя на период терапии.
                  </p>
                  <div class="acc__author">
                    <div class="acc__author-photo">
                      <img src="./assets/images/author.webp" alt="" />
                    </div>
                    <div class="acc__author-info">
                      <p class="acc__author-name h5 white">Петрова Ирина Михайлова</p>
                      <p class="acc__author-pos txt16 white">д.м.н., ведущий специалист в области урологии</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="faq__item acc">
              <div class="acc__head">
                <p class="acc__title txt24 upper bold">
                  Мне назначили антибиотики одновременно с препаратом Лонгидаза®. Можно ли принимать их вместе или после
                  прохождения курса лечения антибиотиками?
                </p>
                <div class="acc__arr">
                  <img src="./assets/images/arrAcc.svg" alt="" />
                </div>
              </div>
              <div class="acc__info">
                <div class="acc__info-inner">
                  <p class="txt18">
                    Препарат Лонгидаза® оказывает потенциирующее действие, что означает усиление эффекта, на биологически активные
                    вещества. В связи с чем лучше воздержаться от приема алкоголя на период терапии.
                  </p>
                  <div class="acc__author">
                    <div class="acc__author-photo">
                      <img src="./assets/images/author.webp" alt="" />
                    </div>
                    <div class="acc__author-info">
                      <p class="acc__author-name h5 white">Петрова Ирина Михайлова</p>
                      <p class="acc__author-pos txt16 white">д.м.н., ведущий специалист в области урологии</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq__item acc">
              <div class="acc__head">
                <p class="acc__title txt24 upper bold">
                  Можно ли применять препарат Лонгидаза® при местных аллергических реакциях?
                </p>
                <div class="acc__arr">
                  <img src="./assets/images/arrAcc.svg" alt="" />
                </div>
              </div>
              <div class="acc__info">
                <div class="acc__info-inner">
                  <p class="txt18">
                    Препарат Лонгидаза® оказывает потенциирующее действие, что означает усиление эффекта, на биологически активные
                    вещества. В связи с чем лучше воздержаться от приема алкоголя на период терапии.
                  </p>
                  <div class="acc__author">
                    <div class="acc__author-photo">
                      <img src="./assets/images/author.webp" alt="" />
                    </div>
                    <div class="acc__author-info">
                      <p class="acc__author-name h5 white">Петрова Ирина Михайлова</p>
                      <p class="acc__author-pos txt16 white">д.м.н., ведущий специалист в области урологии</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="faq__accordion-list">
            <div class="faq__item acc">
              <div class="acc__head">
                <p class="acc__title txt24 upper bold">
                  Почему применение суппозиториев препарата Лонгидаза® противопоказано детям до 12 лет?
                </p>
                <div class="acc__arr">
                  <img src="./assets/images/arrAcc.svg" alt="" />
                </div>
              </div>
              <div class="acc__info">
                <div class="acc__info-inner">
                  <p class="txt18">
                    Препарат Лонгидаза® оказывает потенциирующее действие, что означает усиление эффекта, на биологически активные
                    вещества. В связи с чем лучше воздержаться от приема алкоголя на период терапии.
                  </p>
                  <div class="acc__author">
                    <div class="acc__author-photo">
                      <img src="./assets/images/author.webp" alt="" />
                    </div>
                    <div class="acc__author-info">
                      <p class="acc__author-name h5 white">Петрова Ирина Михайлова</p>
                      <p class="acc__author-pos txt16 white">д.м.н., ведущий специалист в области урологии</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="faq__item acc">
              <div class="acc__head">
                <p class="acc__title txt24 upper bold">Как узнать подлинность препарата Лонгидаза®?</p>
                <div class="acc__arr">
                  <img src="./assets/images/arrAcc.svg" alt="" />
                </div>
              </div>
              <div class="acc__info">
                <div class="acc__info-inner">
                  <p class="txt18">
                    Препарат Лонгидаза® оказывает потенциирующее действие, что означает усиление эффекта, на биологически активные
                    вещества. В связи с чем лучше воздержаться от приема алкоголя на период терапии.
                  </p>
                  <div class="acc__author">
                    <div class="acc__author-photo">
                      <img src="./assets/images/author.webp" alt="" />
                    </div>
                    <div class="acc__author-info">
                      <p class="acc__author-name h5 white">Петрова Ирина Михайлова</p>
                      <p class="acc__author-pos txt16 white">д.м.н., ведущий специалист в области урологии</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="faq__btn btn-primary"><span>задать вопрос</span></button>
      </div>
    </div>
  </div>
</section>
