<section class="find section-wrap">
  <div class="find__container container">
    <div class="find__inner">
      <p class="h1 center">Найти в ближайшей аптеке</p>

      <div class="uteka-widget">
        <!-- Шапка виджета -->
        <div class="uteka-widget-header">
          <div class="uteka-widget__container">
            <div class="uteka-widget-header__inner">
              <!-- Логотип -->
              <a class="uteka-widget-header__logo" data-popup="#popup__attention">
                <img
                  src="https://widget.uteka.ru/static/img/widgets/logo-light.svg"
                  alt="Заказать в Ютеке"
                  title="поиск в аптеках"
                />
              </a>

              <!-- Заголовок -->
              <div class="uteka-widget-header__title"></div>
            </div>
          </div>
        </div>

        <iframe allow="geolocation"></iframe>

        <div class="uteka-widget-footer">
          <div class="uteka-widget__container">
            <div class="uteka-widget-footer__inner">
              <div class="uteka-widget-footer__img">
                <img src="./assets/images/important.svg" alt="" />
              </div>
              <p class="uteka-widget-footer__text">
                В разделе «Где купить» представлена информация от третьих лиц.
                <br />
                ООО «НПО Петровакс Фарм» не несет ответственность за достоверность, ошибки и неточности, содержащиеся в этом
                разделе.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
