<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <div class="header__nav nav">
        <div class="nav__logo">
          <img src="./assets/images/logoHeader.svg" alt="" />
        </div>
        <div class="nav__info-wrap">
          <div class="nav__billets billets">
            <button class="billets__main" data-trigger="nav-modal-1">
              <span class="billets__main-text-box">
                <span class="billets__main-text txt18">Меню</span>
              </span>
              <span class="billets__main-arr">
                <img src="./assets/images/arrAccBlack.svg" alt="" />
              </span>
            </button>
            <div class="billets__btns">
              <div class="billets__btn-wrapp">
                <button class="billets__btn billets__btn--ginecologia" data-trigger="nav-modal-2">
                  <span class="billets__btn-text-box">
                    <span class="billets__btn-svg">
                      <img src="./assets/images/womanSign.svg" alt="" />
                    </span>
                    <span class="billets__btn-text txt18 white">Гинекология</span>
                  </span>
                  <span class="billets__btn-arr">
                    <img src="./assets/images/arrAcc.svg" alt="" />
                  </span>
                </button>
                <div class="billets__btn-modal" data-modal="nav-modal-2">
                  <div class="billets__modal-list">
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">эндометриоз</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Воспалительные заболевания органов малого таза</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Послеоперационные спайки</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Хроническая тазовая боль</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="billets__btn-wrapp">
                <button class="billets__btn billets__btn--urologia" data-trigger="nav-modal-3">
                  <span class="billets__btn-text-box">
                    <span class="billets__btn-svg">
                      <img src="./assets/images/manSign.svg" alt="" />
                    </span>
                    <span class="billets__btn-text txt18 white">Урология</span>
                  </span>
                  <span class="billets__btn-arr">
                    <img src="./assets/images/arrAcc.svg" alt="" />
                  </span>
                </button>
                <div class="billets__btn-modal" data-modal="nav-modal-3">
                  <div class="billets__modal-list">
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Простатит</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Аденома простаты</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Хроническая тазовая боль</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                    <a href="#" class="billets__modal-link">
                      <span class="billets__link-text h7">Хирургия</span>
                      <span class="billets__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__links links txt18">
            <a class="links__link" href="#">
              <span class="links__text">Важно знать</span>
            </a>
            <a class="links__link" href="#">
              <span class="links__text">Вопрос-ответ</span>
            </a>
            <a class="links__link" href="#">
              <span class="links__img">
                <img src="./assets/images/bag.svg" alt="" />
              </span>
              <span class="links__text">Где купить?</span>
            </a>
          </div>
        </div>

        <div class="header__menu-modal menu-modal " data-modal="nav-modal-1">
          <div class="menu-modal__inner">
            <div class="menu-modal__list-wrap">
              <p class="menu-modal__list-title txt20">Меню сайта:</p>
              <div class="menu-modal__list-box">
                <ul class="menu-modal__list">
                  <li>
                    <p class="menu-modal__link" data-tab="tab1">
                      <span class="menu-modal__link-text txt18 upper">дРУГИЕ НАПРАВЛЕНИЯ</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </p>
                  </li>
                  <li>
                    <a href="#" class="menu-modal__link">
                      <span class="menu-modal__link-text txt18 upper">Инструкция</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-modal__link">
                      <span class="menu-modal__link-text txt18 upper">Механизм действия</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-modal__link">
                      <span class="menu-modal__link-text txt18 upper">Важно знать</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-modal__link">
                      <span class="menu-modal__link-text txt18 upper">Вопрос-ответ</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="menu-modal__link">
                      <span class="menu-modal__link-text txt18 upper">Где купить?</span>
                      <span class="menu-modal__link-arr">
                        <img src="./assets/images/arrRightBlack.svg" alt="" />
                      </span>
                    </a>
                  </li>
                </ul>
                <button class="menu-modal__btn btn-border">
                  <span data-text="Вернуться на главную">Вернуться на главную</span>
                </button>
              </div>
            </div>
            <div class="menu-modal__content-wrap">
              <div class="menu-modal__content-item content-main">
                <p class="txt20">Основные направления:</p>
                <div class="content-main__list">
                  <a href="#" class="content-main__link">
                    <div class="content-main__photo">
                      <img src="./assets/images/ginoPhoto.webp" alt="" />
                    </div>
                    <p class="content-main__name txt22 bold upper">Гинекология</p>
                  </a>

                  <a href="#" class="content-main__link">
                    <div class="content-main__photo">
                      <img src="./assets/images/uroPhoto.webp" alt="" />
                    </div>
                    <p class="content-main__name txt22 bold upper">Урология</p>
                  </a>
                </div>
              </div>
              <div class="menu-modal__content-item content-other" data-content="tab1">
                <div class="content-other__list-box">
                  <p class="txt20">Другие направления:</p>

                  <ul class="content-other__list">
                    <li>
                      <a href="#" class="content-other__link">
                        <span class="content-other__link-text txt18">Дерматология</span>
                        <span class="content-other__link-arr">
                          <img src="./assets/images/arrRightBlack.svg" alt="" />
                        </span>
                      </a>
                    </li>

                    <li>
                      <a href="#" class="content-other__link">
                        <span class="content-other__link-text txt18">Косметология</span>
                        <span class="content-other__link-arr">
                          <img src="./assets/images/arrRightBlack.svg" alt="" />
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="content-other__link">
                        <span class="content-other__link-text txt18">Хирургия</span>
                        <span class="content-other__link-arr">
                          <img src="./assets/images/arrRightBlack.svg" alt="" />
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="content-other__link">
                        <span class="content-other__link-text txt18">Пульманология</span>
                        <span class="content-other__link-arr">
                          <img src="./assets/images/arrRightBlack.svg" alt="" />
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="content-other__img">
                  <img src="./assets/images/headerOtherImg.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header__circle-btn-box">
          <div class="header__circle-btn header__burger burger">
            <div class="header__circle-svg burger__svg burger__svg--close">
              <img src="./assets/images/burgerClose.svg" alt="" />
            </div>
            <div class="header__circle-svg burger__svg burger__svg--open">
              <img src="./assets/images/burgerOpen.svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="header__search seacrh"></div>

      <button class="header__btn btn-primary"><span>для специалистов</span></button>
    </div>
  </div>
</header>
