<section class="help section-wrap">
  <div class="help__container container">
    <div class="help__inner">
      <div class="help__title-box white">
        <p class="help__title h1">
          Посмотрите как Лонгидаза®
          <br />
          помогает реальным пациентам:
        </p>

        <p class="help__subtitle txt24">Непридуманные истории</p>
      </div>
      <div class="help__content">
        <div class="help__swiper-box">
          <div class="help__swiper swiper">
            <div class="help__swiper-wrapper swiper-wrapper">
              <div class="help__slide swiper-slide">
                <div class="history">
                  <div class="history__content">
                    <a href="!#" class="history__img" data-fancybox="" data-src="./assets/images/videoTest.mp4">
                      <img src="./assets/images/history.webp" alt="" />
                    </a>

                    <div class="history__title-box">
                      <p class="txt24 upper bold">«Забыла о том, что меня мучали боли»</p>
                      <p class="txt20">
                        Узнайте, как Лонгидаза® помогла при эндометриозе забыть о мучительных болях — даже в критические дни.
                        Узнайте, как Лонгидаза® помогла при эндометриозе забыть о мучительных болях — даже в критические дни.
                      </p>
                    </div>
                  </div>
                  <div class="history__info">
                    <p class="h5">
                      ВРАЧ:
                      <span class="pink">ХАДИЖА ДАНИЯЛОВА</span>
                    </p>

                    <p class="history__pos txt20">Врач акушер-гинеколог первой категории Клиника «Динамика», г. Москва</p>
                  </div>
                </div>
              </div>

              <div class="help__slide swiper-slide">
                <div class="history">
                  <div class="history__content">
                    <a href="!#" class="history__img" data-fancybox="" data-src="./assets/images/videoTest.mp4">
                      <img src="./assets/images/history.webp" alt="" />
                    </a>

                    <div class="history__title-box">
                      <p class="txt24 upper bold">«Забыла о том, что меня мучали боли»</p>
                      <p class="txt20">
                        Узнайте, как Лонгидаза® помогла при эндометриозе забыть о мучительных болях — даже в критические дни.
                      </p>
                    </div>
                  </div>
                  <div class="history__info">
                    <p class="h5">
                      ВРАЧ:
                      <span class="pink">ХАДИЖА ДАНИЯЛОВА</span>
                    </p>

                    <p class="history__pos txt20">Врач акушер-гинеколог первой категории Клиника «Динамика», г. Москва</p>
                  </div>
                </div>
              </div>
              <div class="help__slide swiper-slide">
                <div class="history">
                  <div class="history__content">
                    <a href="!#" class="history__img" data-fancybox="" data-src="./assets/images/videoTest.mp4">
                      <img src="./assets/images/history.webp" alt="" />
                    </a>

                    <div class="history__title-box">
                      <p class="txt24 upper bold">«Забыла о том, что меня мучали боли»</p>
                      <p class="txt20">
                        Узнайте, как Лонгидаза® помогла при эндометриозе забыть о мучительных болях — даже в критические дни.
                      </p>
                    </div>
                  </div>
                  <div class="history__info">
                    <p class="h5">
                      ВРАЧ:
                      <span class="pink">ХАДИЖА ДАНИЯЛОВА</span>
                    </p>

                    <p class="history__pos txt20">Врач акушер-гинеколог первой категории Клиника «Динамика», г. Москва</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="help__nav-box swiper-btn-box">
            <button class="help__swiper-btn help__swiper-btn--next swiper-button swiper-button--prev">
              <div class="swiper-button__svg-wrap">
                <div class="swiper-button__svg">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.5417 16.6001L7.10835 11.1668C6.46669 10.5251 6.46669 9.47509 7.10835 8.83342L12.5417 3.40009"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </button>
            <button class="help__swiper-btn help__swiper-btn--next swiper-button swiper-button--next">
              <div class="swiper-button__svg-wrap">
                <div class="swiper-button__svg">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M7.45828 3.39991L12.8916 8.83325C13.5333 9.47491 13.5333 10.5249 12.8916 11.1666L7.45828 16.5999"
                      stroke="white"
                      stroke-width="2"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </button>
          </div>
        </div>

        <a href="#" class="help__btn btn-primary"><span>специалистам</span></a>
      </div>
    </div>
  </div>
</section>
