<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="hero__info">
          <div class="hero__billet">
            <div class="hero__billet-img">
              <img src="./assets/images/heroBillet.webp" alt="" />
            </div>
            <p class="hero__billet-text txt16">
              Оригинальность молекулы
              <br />
              признана Всемирной Организацией Здравоохранения
            </p>
          </div>

          <p class="hero__title txt40">
            Лонгидаза
            <sup>®</sup>
            начинает работать
            <span class="pink">
              уже с 1-го дня применения
              <sup>1</sup>
            </span>
            и защищает от обострений в течение года
            <sup>2,3</sup>
          </p>
        </div>
        <div class="hero__img">
          <img src="./assets/images/heroDrug.webp" alt="" />
        </div>
      </div>
      <div class="hero__swiper-box">
        <div class="hero__swiper swiper">
          <div class="hero__swiper-wrapper swiper-wrapper">
            <div class="hero__slide swiper-slide">
              <div class="hero__adv">
                <div class="hero__adv-content">
                  <p class="hero__adv-title pink h4">Устраняет воспаление</p>
                  <p class="hero__adv-text txt24">
                    Доказано снижает уровень прововоспалительных элементов
                    <sup>4</sup>
                     
                  </p>
                </div>
                <p class="hero__adv-num">1</p>
              </div>
            </div>
            <div class="hero__slide swiper-slide">
              <div class="hero__adv">
                <div class="hero__adv-content">
                  <p class="hero__adv-title pink h4">Повышает эффективность терапии</p>
                  <p class="hero__adv-text txt24">
                    Разрушает защитную оболочку бактерий, открывая доступ антибиотикам
                    <sup>5</sup>
                     
                  </p>
                </div>
                <p class="hero__adv-num">2</p>
              </div>
            </div>
            <div class="hero__slide swiper-slide">
              <div class="hero__adv">
                <div class="hero__adv-content">
                  <p class="hero__adv-title pink h4">Восстанавливает структуру тканей</p>
                  <p class="hero__adv-text txt24">
                    Рассасывает внутренние уплотнения, сохраняя естественную подвижность органов
                    <sup>1</sup>
                  </p>
                </div>
                <p class="hero__adv-num">3</p>
              </div>
            </div>
          </div>
        </div>

        <div class="hero__nav-box swiper-btn-box">
          <button class="hero__swiper-btn hero__swiper-btn--next swiper-button swiper-button--prev">
            <div class="swiper-button__svg-wrap">
              <div class="swiper-button__svg">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.5417 16.6001L7.10835 11.1668C6.46669 10.5251 6.46669 9.47509 7.10835 8.83342L12.5417 3.40009"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </button>
          <button class="hero__swiper-btn hero__swiper-btn--next swiper-button swiper-button--next">
            <div class="swiper-button__svg-wrap">
              <div class="swiper-button__svg">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.45828 3.39991L12.8916 8.83325C13.5333 9.47491 13.5333 10.5249 12.8916 11.1666L7.45828 16.5999"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
