<section class="mold section-wrap">
  <div class="mold__container container">
    <div class="mold__inner">
      <p class="mold__title h1">
        удобная и безопасная
        <br />
        <span class="pink">форма суппозитории</span>
      </p>

      <div class="mold__content">
        <div class="mold__info">
          <div class="mold__text-wrap">
            <div class="mold__text-box">
              <p class="mold__text-title txt24 bold upper">
                Лонгидаза® выпускается в форме свечей, которые Не влияют на желудочно кишечный тракт и сердечно сосудистую систему
                <sup>1</sup>
              </p>
              <p class="mold__text-desc txt24">
                По сравнению с пероральными формами позволяет достичь более высокой локальной концентрации препарата в более
                короткие сроки
              </p>
            </div>

            <a href="#" class="mold__btn btn-primary" data-da=".mold__inner, 768, last"><span>пройти курс лонгидазы</span></a>
          </div>
          <div class="mold__download">
            <div class="mold__download-img">
              <img src="./assets/images/moldDownload.webp" alt="" />
            </div>
            <div class="mold__download-content">
              <p class="mold__download-title h5">
                Удобный способ
                <br />
                приема - 1 раз в день
              </p>
              <a href="#" class="mold__download-link btn-border">
                <span data-text="скачать инструкцию pdf">скачать инструкцию pdf</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mold__img" data-da=".mold__download, 768, first">
          <img src="./assets/images/moldDrag.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
