<section class="order order--breadcrumbs section-wrap">
  <div class="order__container container">
    <div class="order__inner">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list txt18">
          <li><a href="#">Главная</a></li>
          <li><p>Где купить?</p></li>
        </ul>
      </nav>

      <p class="h1 center">Заказать онлайн</p>
      <div class="order__list-box">
        <ul class="order__list">
          <li>
            <a href="#" class="order__link">
              <img src="./assets/images/order1.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" class="order__link">
              <img src="./assets/images/order2.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" class="order__link">
              <img src="./assets/images/order3.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" class="order__link">
              <img src="./assets/images/order4.svg" alt="" />
            </a>
          </li>
        </ul>
        <button class="order__btn btn-primary"><span>Получить скидку</span></button>
      </div>
    </div>
  </div>
</section>
