<section class="wherefore section-wrap">
  <div class="wherefore__container container">
    <div class="wherefore__inner">
      <p class="h1 center white">
        ЛОНГИДАЗА<sup>®</sup>
        Для чего назначают?
      </p>
      <div class="wherefore__content">
        <div class="wherefore__item">
          <div class="wherefore__img">
            <img src="./assets/images/wherefore1.webp" alt="" />
          </div>
          <div class="wherefore__info">
            <p class="wherefore__subtitle txt32 white">Гинекология:</p>
            <ul class="wherefore__list">
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Эндометриоз</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Воспалительные заболевания органов малого таза</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Послеоперационные спайки</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Хроническая тазовая боль</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="wherefore__item">
          <div class="wherefore__img">
            <img src="./assets/images/wherefore2.webp" alt="" />
          </div>
          <div class="wherefore__info">
            <p class="wherefore__subtitle txt32 white">Урология:</p>
            <ul class="wherefore__list">
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Простатит</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Аденома простаты</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Хроническая тазовая боль</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
              <li>
                <a href="#" class="wherefore__link">
                  <div class="wherefore__link-text h7 bold">Хирургия</div>
                  <div class="wherefore__link-arr">
                    <img src="./assets/images/arrWhite.svg" alt="" />
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
